/* *{
    box-sizing: border-box;
} */


html, body{
    box-sizing: border-box;
    position: relative;
}
/*header-----------------------------------------*/
header{
    background-color: rgb(110, 108, 108);
    position: sticky;
    top: 0;
    z-index: 3;
    min-height: 20vw;
    padding: 4vw;
    border-bottom: 2px solid;
}

h1{
    color: white;
}

h1 + img{
    display: none;    
}
/* --------------------------------------------- */


main{
    margin: 4vw;
    margin-top: 5vw;
}

/* main head------------------------------------- */
#mainHead{
    margin-bottom: 0.3vw;
}


nav{
    margin-left: 0.3vw;
    margin-bottom: 1vw;
}

a{
    text-decoration: none;
    background-color: white;
    color: blue;
    font-weight: bold;
    padding: 0.3vw;
}

a:hover{
    border: 1px solid blue;
    cursor: pointer;
}

.chosen{
    background-color: blue;
    color: white;
    font-weight: normal;
}

.chosen:hover{
    color: white;
}

#search > button{
    background-color: transparent;
    border: 2px solid rgb(162, 240, 45);
    color: rgb(162, 240, 45);
}
/* --------------------------------------------------- */


/* spining coin ---------------------------------------*/
#container > img{
    border-radius: 50%;
    width: 33.33vw;
    height: 33.33vw;
    margin-left: 28vw;
    animation: spin 3s linear infinite;
}
      
@keyframes spin {
    0% { transform: rotateY(0deg); }
    100% { transform: rotateY(360deg); }
      
}

/* ----------------------------------------------------------------- */


/* main --------------------------------------------*/


main > #container > .coin{
    position: relative;
    width: 100%;
    min-height: 30vw;
    margin: 3vw;
    border: 1px solid black;
    border-radius: 3vw;
}

.coin > span{
    margin-top: 2vw;
    margin-left: 2vw;
    width: 3vw;
    font-size: medium;
    font-weight: bold;
    max-width: 4vw;
}

.coin > label + div{
    margin-left: 2vw;
    margin-top: 3vw;
    margin-bottom: 5vw;
}

.coin > button{
    margin-left: 2vw;
}

.coin > button + div{
    border-radius: 3px;
    margin-left: 2vw;
    width: 50vw;
    margin-top: 0;
    margin-bottom: 2vw;
    /* max-height: 15vw; */
    overflow-y: scroll;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.coin > div > span{
    background-color: yellow;
    border: transparent;
}
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
    background: #888; 
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
}





























/* toggle button ---------------------------------------------------------- */

.switch {
    position: absolute;
    display: inline-block;
    right: 0;
    width: 60px;
    height: 34px; 
    top: 2.5vw;
}
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    border-radius: 34px;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    border-radius: 50%;
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 5px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);  }
  
